*
 {
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(315deg, #ffff 0%, #d7e1ec 74%);

}
.hero {
    position: static;
    padding: 25px;

}
.hero h2 {
    color: greenyellow; 
    font-size: 50px;
     text-align: center;
     font-family:Comic Sans MS ;
}
.list {
    justify-content: space-between;
    position: static;
    display: flex;
    padding: 25px 35px;
    text-align: center;
    border: 40px solid greenyellow;
    border-radius: 20px;
    text-decoration: none;
    background-color: #191919;
}

.euro{
    background-color: #191919;
    

}
.euro h2 {
    color: greenyellow;
}

.africa{
    background-color: #191919;
}
.africa h2 {
    color: greenyellow;
}
.snack{
    background-color: #191919;
}
.snack h2 {
    color: greenyellow;
}
img {
    margin-bottom: -150x;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border-right: 15px solid yellowgreen;
    border-bottom: 15px solid yellowgreen;

}

 ul li{
    color: orange;
    font-weight: bold;
}

.whatsapp_float{
position: relative;
text-align: center;
padding: 40px;
}
.whatsapp_float a i{
    font-size: 100px;
     color: limegreen; 
 }
 .whatsapp_float a i:hover{
     transform: scale(1.3);
     text-shadow: 0 0 10px lime,
     0 0 20px lime,
     0 0 40px lime,
     0 0 80px lime,
     0 0 120px lime;
 }.whatsapp_float{
     position: relative;
 }
 .spe{
    padding: 20px;
    margin: 20px;
    position: relative;
    text-align: center;
 }
 span{
    color: orange;
 }

footer
{
    padding: 25px;
    position: relative;

}

footer  {
    display: flex;
    padding: 12px;
    bottom: 20px;
    position: relative;
  justify-content: center;
}

footer h2 {
    color: aliceblue;
    font-size: 20px;
	font-weight: bold;
    text-align: center;
    background-color:greenyellow;
    border-radius: 30px;
    padding: 10px 25px;
    border:  2px solid greenyellow;
    text-decoration: none;
   
}
footer  h2:hover {
    transform: scale(1.2);
    text-decoration: none;
}
footer  a:hover {
    text-decoration: none;
}
@media (max-width: 480px) {
    img{
        width: 80px;
        height: 80px;
         border-right: 7px solid yellowgreen;
         border-bottom: 7px solid yellowgreen;
    }
    ul{
        font-size: 9px;
    }
    .spe h2{
        font-size: 26px;
    }

}